<div class="card text-center text-white bg-secondary ">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs container-center" >
            <li class="nav-item ">
              <a [routerLink]="['/home']" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/resume-terminal']" class="nav-link">Resume</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/projects']" class="nav-link">Projects</a>
            </li>
    </ul>
  </div>
</div>
