.my-header
{
  background-color: #4A525A;
  width: 250px;
  color: white;
}
.dashboard {
  display: flex;
  height:100%;
}

.sidebar {
  background-color: rgba(119, 136, 153, 0.42);
  width:10em;
  padding: .5em;
  height: 120vh;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar p
{
  background-color: yellow;
  margin: 0 0 2em 0 ;
}

.sidebar a {
    text-decoration: none;
    color: black;
  }

.sidebar a.active {
  font-weight: bold;
}

.content {
  flex-grow: 1;
  padding: 20px;
  max-width: 80vw;
}
