<app-project-nav></app-project-nav>



<div class="container-center">
<h1>Marvel Heros</h1>
</div>


<div class="filter-bar  container-center">

  <div class="card filter-card" >
    <div class="card-header">Search</div>
    <div class="card-body">
      <input class="form-control" type="text" [(ngModel)]="searchFilter" (ngModelChange)="filterChanged()">
     </div>
  </div>

  <div class=" filter-card">
    <button class="form-control" (click)="pickRandom()">Pick Random</button>
    <button class="form-control" (click)="clearFilters()">Clear Filters</button>
  </div>
</div>

<div class="container-center">
  <p>Displaying {{filterData.length}} Results</p>

</div>

<div class="hero-list">
  <div *ngFor="let character of filterData" class="hero-card" (click)="cardClicked(character)">
    <h4>{{character.name}}</h4>
    <img alt="{{character.name}}"  src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}">

    <hr>
    <p>{{character.description}}</p>

  </div>
</div>



<ng-template #content let-modal >
  <div class="modal-header modal-xl" >
    <h4 class="modal-title ">{{selectedCharacter.name}}</h4>

    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


        <div class="modal-body">

          <div class="container-center">
            <img class="hero-card" src="{{selectedCharacter.thumbnail.path}}.{{selectedCharacter.thumbnail.extension}}" alt="">
          </div>
          <hr>
          <div class="container-center">
            <p>{{selectedCharacter.description}}</p>
          </div>

          <hr>
          <div *ngIf="selectedCharacter.comics.items.length>0">
            <div class="container-center"> <p>Appears In</p></div>
            <div class="container-center">
              <ol>
                <li *ngFor="let i of selectedCharacter.comics.items">{{i.name}}</li>
              </ol>
            </div>
          </div>

      </div>

</ng-template>


