
<app-navbar></app-navbar>
<div class="my-content">
  <router-outlet></router-outlet>
</div>

<footer class="footer navbar-fixed-bottom bg-dark text-light">
  <div style="text-align: center !important;" >
    <a class=" btn btn-secondary" target="_blank" href="mailto:jsteffen182@gmail.com"><strong> Email <i class="fa-regular fa-envelope"></i></strong></a>
    <a class=" btn btn-secondary" target="_blank" href="https://github.com/LegoLife"><strong> GitHub <i class="fa-brands fa-github"></i></strong></a>
    <a class="btn btn-secondary"  target="_blank" href="https://github.com/LegoLife/portfolio">View Source</a>
  </div>
  <div style="text-align: center">
    &copy; 2023 Jake Steffen | All rights reserved
  </div>
</footer>
