<div id="content" >
    <header>
      <div id="header">
        <h1>Jake Steffen</h1>
        <p >Software Developer </p>
        <div class="container-center my-icon">
          <img  src="images/icons/angular.png" alt="angular"  >
          <img  src="images/icons/csharp.png" alt="csharp"  >
          <img  src="images/icons/sqlserver.png" alt="sql" >
          <img  src="images/icons/vs.png" alt="vs" >
      </div>
    </div>
    <button (click)="downloadResume()" class="download-button">
      <i class="fas fa-download"></i> Download
    </button>
    </header>

    <div class="resume-container " #capture>
      <div id="resume" >
        <section>

          <h2>Projects</h2>
          <p><strong><i class="fa-solid fa-server"></i> Real-time Data Collection Application</strong></p>
          <p>
            <strong>Technologies used:</strong>
            .NET (C#) / SQL Server / Angular+Typescript / Azure Dev Ops / Visual Studio
          </p>
          <p>Provides real-time tracking of 80+ servers and workstations, including Windows and Linux, with a full-stack web interface (Angular) and .NET Web API (900+ endpoints) for data input, viewing, and export.</p>

          <p><strong> <i class="fa-solid fa-list-check"></i> API Integration and Data Retrieval</strong></p>
          <p><strong>Technologies used:</strong>
            .NET (C#) / SQL Server / Azure Dev Ops / Visual Studio
          </p>
          <p>Created and maintain 20+ C# applications for fetching and storing data from various APIs, optimizing data processes, and ensuring data integrity. Collaborated for seamless integration and ongoing support.</p>
        </section>
      <section class="section">
        <h2>Experience</h2>
        <p><strong><i class="fas fa-user-tie icon"></i>Programmer/Analyst</strong></p>
        <p><strong><i class="fas fa-building icon"></i>Hoosier Energy - Bloomington, Indiana</strong></p>
        <p><strong><i class="far fa-calendar icon"></i>4/2018 - {{year}}</strong></p>
        <ul>
          <li>Analyze end user’s data needs and developed solutions which interface with existing applications for web-based systems.</li>
          <li>Coordinate all aspects of implementation and training to support new programs and systems.</li>
          <li>Recommend improved operational procedures to maximize systems efficiency.</li>
        </ul>
        <p><strong><i class="fas fa-user-tie icon"></i>System Administrator</strong></p>
        <p><strong><i class="fas fa-building icon"></i>Hoosier Energy - Spencer, Indiana</strong></p>
        <p><strong><i class="far fa-calendar icon"></i>3/2015 - 4/2018</strong></p>
        <ul>
          <li>Perform EMS maintenance.</li>
          <li>Assist with NERC/CIP Compliance Assurance.</li>
          <li>Carry out management of 70+ servers and workstations.</li>
        </ul>
      </section>
      <section class="section">
        <h2>Education</h2>
        <p><strong><i class="fas fa-graduation-cap icon"></i>Bachelor of Science Networking and Telecommunications</strong></p>
        <p><strong><i class="fas fa-university icon"></i>University of Phoenix, Online</strong></p>
        <p><strong><i class="far fa-calendar icon"></i>8/2010 - 9/2014</strong></p>
      </section>


    </div>
    </div>
</div>
