body{
  overflow-y: scroll !important;
}
.container-center {
  display: flex;
  justify-content: center;
}

.my-content{
  padding-bottom: 120px !important;
}
footer {
  position: fixed !important;;
  right: 0 !important;;
  left: 0 !important;;
  bottom: 0 !important;;
  width: 100% !important;;
  height: 70px !important;;
}

.footer-github{
  float:right !important;
  display:block !important;
  margin-right: 2em !important;
}

