<div class="container-center">
<section class="card border-dark " style="max-width: 600px">
  <div class="card-header">
    <div class="container-center">
      <img  src="images/me.jpg" alt="Jake Steffen" style="height: 100px; border-radius: 20%" >
    </div>
    <h1  class="container-center">Welcome</h1>
  </div>

  <div class="card-body">
    <p class="card-text">Hello, I'm Jake Steffen, a passionate programmer with a strong background in web-based systems, data analysis, and network management. I'm dedicated to creating efficient solutions to meet end users' data needs and ensuring the seamless operation of systems.</p>
    <p class="card-text">With over five years of experience, I've had the privilege of working on various aspects of IT, from computer support and system administration to programming and data analysis.</p>
    <p class="card-text">One of my significant achievements is the development of a real-time data collection application, utilizing technologies such as C#/.NET, Angular, TypeScript, SQL Server, and Azure DevOps. This application allows real-time tracking of 80+ servers and workstations, offering a full-stack web interface for data input, viewing, and export.</p>
    <p class="card-text">I'm also experienced in API integration and data retrieval, having created and maintained multiple C# applications for fetching and storing data from various APIs while ensuring data integrity.</p>
  </div>

</section>

</div>




