<div class="container">
  <img src="images/me.jpg" alt="Jake Steffen" class="profile-img">
  <h1>Hello, I'm Jake Steffen</h1>
  <p>
      I'm a passionate programmer with a strong background in web-based systems, data analysis, and network management.
      I create efficient solutions to meet end users' data needs and ensure seamless system operation.
  </p>
  <p>
      With over six years of experience, I've worked in various IT areas, from computer support and system administration
      to programming and data analysis. A key achievement of mine is developing a real-time data collection application
      using C#/.NET, Angular, TypeScript, SQL Server, and Azure DevOps.
  </p>
  <p>
      I'm also experienced in API integration and data retrieval, having created and maintained multiple C# applications
      for fetching and storing data from various APIs while ensuring data integrity.
  </p>

</div>
