<app-project-nav></app-project-nav>


<div class="investment-container">
  <h2>Investment Calculator</h2>

  <div class="investment-row">
    <button (click)="calculateAll()">Calculate All</button>
    <button (click)="addInvestment()">Add Investment</button>
  </div>
  <div *ngFor="let investment of investments; let i = index" class="investment-card">

    <div class="investment-header">
      <h3>Investment {{ i + 1 }}</h3>
    </div>

    <div class="investment-row">
      <div class="input-group">
        <label for="principal-{{ i }}">Principal:</label>
        <input
          id="principal-{{ i }}"
          type="text"
          [(ngModel)]="investment.principal"
          (input)="formatPrincipal($event, i)"
        />
      </div>

      <div class="input-group">
        <label for="rate-{{ i }}">Rate (%):</label>
        <input id="rate-{{ i }}" type="number" [(ngModel)]="investment.annualRate" />
      </div>
    </div>

    <div class="investment-row">
      <div class="input-group">
        <label for="years-{{ i }}">Years:</label>
        <input id="years-{{ i }}" type="number" [(ngModel)]="investment.years" />
      </div>

      <div class="input-group">

        <label for="contribution-{{ i }}">Contribution:</label>
        <div class="tooltip-container">

          <input id="contribution-{{ i }}" type="text"  (input)="formatMonthlyContribution($event, i)" [(ngModel)]="investment.monthlyContribution" />
          <span class="tooltip-text">Contribution per month</span>
        </div>
      </div>

      <button  style="background-color: grey" (click)="duplicateInvestment(i)">Duplicate</button>

      <button style="background-color: red" (click)="removeInvestment(i)">Remove</button>
    </div>

    <p *ngIf="investment.futureValue !== undefined">
      Future Value: <strong>{{ investment.futureValue | currency }}</strong>
    </p>




    <details (toggle)="onDetailsToggle($event, investment, i)">
      <summary>View Yearly Breakdown</summary>
      <canvas #chartCanvas></canvas>
    </details>

  </div>


</div>
