<app-project-nav></app-project-nav>


<div class="investment-container">
  <h2>Investment Calculator</h2>


  <p  class="combinedTotal">
    Combined Total: <strong>{{ totalFutureValue | currency }}</strong>

  </p>
  <div *ngFor="let investment of investments; let i = index" class="investment-card">
    <h3>Investment {{ i + 1 }}</h3>

    <div class="investment-row">
      <label>
        Principal:
        <input
          type="text"
          [(ngModel)]="investment.principal"
          (input)="formatPrincipal($event, i)"
        />
<!--        <input type="number" [(ngModel)]="investment.principal" />-->
      </label>

      <label>
        <div class="tooltip-container">
          Rate (%):
          <input type="number" [(ngModel)]="investment.annualRate" />
          <span class="tooltip-text">Annual interest rate (ex: 5 for 5%)</span>

        </div>
      </label>

      <label>
        Years:
        <input type="number" [(ngModel)]="investment.years" />
      </label>

      <label>
        Monthly Contribution:
        <input type="number" [(ngModel)]="investment.monthlyContribution" (input)="formatMonthlyContribution($event, i)"/>
      </label>
    </div>

    <button style="margin-left: 1em; background-color: red" (click)="removeInvestment(i)">Remove</button>
    <button style="margin-left: 1em;" (click)="duplicateInvestment(i)">Duplicate</button>


    <p *ngIf="investment.futureValue !== undefined">
      Future Value: <strong>{{ investment.futureValue | currency }}</strong>
    </p>
  </div>

  <button (click)="addInvestment()">Add Investment</button>
  <button (click)="calculateAll()">Calculate All</button>
  <button style="margin-left: 1em; background-color: lightsalmon" (click)="clearAll()">Clear All</button>
</div>



<!--<div class="investment-container">-->
<!--  <h2>Investment Calculator</h2>-->

<!--  <div *ngFor="let investment of investments; let i = index" class="investment-card">-->
<!--    <h3>Investment {{ i + 1 }}</h3>-->

<!--    <label>-->
<!--      Principal Amount:-->
<!--      <input type="number" [(ngModel)]="investment.principal" />-->
<!--    </label>-->

<!--    <label>-->
<!--      Annual Interest Rate (%):-->
<!--      <input type="number" [(ngModel)]="investment.annualRate" />-->
<!--    </label>-->

<!--    <label>-->
<!--      Years:-->
<!--      <input type="number" [(ngModel)]="investment.years" />-->
<!--    </label>-->

<!--    <label>-->
<!--      Monthly Contribution:-->
<!--      <input type="number" [(ngModel)]="investment.monthlyContribution" />-->
<!--    </label>-->

<!--    <p *ngIf="investment.futureValue !== undefined">-->
<!--      Future Value: {{ investment.futureValue | currency }}-->
<!--    </p>-->
<!--  </div>-->

<!--  <button (click)="addInvestment()">Add Investment</button>-->
<!--  <button (click)="calculateAll()">Calculate All</button>-->
<!--</div>-->

