<div class="card text-center text-white bg-secondary">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs container-center">
      <li class="nav-item ">
        <a [routerLink]="['/realestate']" class="nav-link">Real Estate </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/datagenerator']" class="nav-link">Sample Data Generator</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/dashboard-login']" class="nav-link">Admin Dashboard</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/investment-calculator']" class="nav-link">Investment Calculator</a>
      </li>
    </ul>
  </div>
</div>
